*.iml
Achievmaps/.gradle
Achievmaps/local.properties
Achievmaps/.idea/caches
Achievmaps/.idea/libraries
Achievmaps/.idea/modules.xml
Achievmaps/.idea/workspace.xml
Achievmaps/.idea/navEditor.xml
Achievmaps/.idea/assetWizardSettings.xml
Achievmaps/.DS_Store
Achievmaps/build
Achievmaps/captures
Achievmaps/.externalNativeBuild
Achievmaps/.cxx
Achievmaps/local.properties
